article {
    margin: 0 auto;
    padding: 40px;
    padding-top: 60px;
}

.sedans {
    background-color: #E28525;
    border-radius: 4% 0 0 4%;
    background-repeat: no-repeat;
    background-image: url(images/icon-sedans.svg);
    background-position: 20% 10%;
    background-size: 20%; 

}

.sedans button {
    color:#E28525;
}

.suvs {
    background-color: #016972;
    background-repeat: no-repeat;
    background-image: url(images/icon-suvs.svg);
    background-position: 20% 10%;
    background-size: 20%; 
    
}
.suvs button {
    color:#016972;
}
.luxury {
    background-color: #00403F;
    border-radius: 0 4% 4% 0;
    background-repeat: no-repeat;
    background-image: url(images/icon-luxury.svg);
    background-position: 20% 10%;
    background-size: 20%; 
}
.luxury button {
    color: #00403F;
}
body {
    font-family: 'Lexend Deca', sans-serif;
    color: white;
}

.cards {
    margin: 10vh 30% 0 30%;
    display: flex;
    
}

h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
}
button {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 13px;
    background-color: white;
    margin-top: 40px;
    padding: 10px 25px 10px 25px;
    border-radius: 20px;
    text-decoration: none;
    border: 0;
    
}
